# Created by https://www.gitignore.io/api/emacs
# Edit at https://www.gitignore.io/?templates=emacs

### Emacs ###
# -*- mode: gitignore; -*-
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
*.elc
auto-save-list
tramp
.\#*

# Org-mode
.org-id-locations
*_archive

# flymake-mode
*_flymake.*

# eshell files
/eshell/history
/eshell/lastdir

# elpa packages
/elpa/

# reftex files
*.rel

# AUCTeX auto folder
/auto/

# cask packages
.cask/
dist/

# Flycheck
flycheck_*.el

# server auth directory
/server/

# projectiles files
.projectile

# directory configuration
.dir-locals.el

# network security
/network-security.data

# End of https://www.gitignore.io/api/emacs

# Putchar function
_putchar.c

# Test files
*p.c
*prueba*
*main*

# Input files
*.txt
*.csv
*.json
*.sql

# Compiled files
*pycache*

# Additional files
# Project 0x00
cycle

# Project 0x01
insert

# Project 0x02
add_0.py
calculator_1.py
hidden_4.pyc
variable_load_5.py

# Project 0x05
101-safe_function.py

  





